.welcome-form__form {
	min-height: calc(100vh - (125px + 149px + 160px));
	display: flex;
	flex-direction: column;
}

@media screen and (max-width: 620px) {
	.welcome-form__form {
		min-height: calc(100vh - (88px + 101px + 160px));
		margin-inline: 10px;
	}
}
